<?xml version="1.0"?>
<model>
  <name>MY_CAM_DRONE</name>
  <version>1.0</version>
  <sdf version='1.6'>my_cam_drone.sdf</sdf>

  <author>
   <name>Lorenz Meier and Thomas Gubler</name>
   <email>rkdms4031@unist.ac.kr</email>
  </author>

  <description>
    This is a model of the 3DR Iris Quadrotor with customized cam. The original model has been created by Thomas Gubler and is maintained by Lorenz Meier.
  </description>
</model>
